<template>
  <div>
    <div class="flex flex-col mb-5">
      <label>First name</label>
      <input class="border-gray-300 border rounded-lg" type="text" v-model="firstName" />
      {{ firstNameError }}
    </div>

    <div class="flex flex-col mb-5">
      <label>Last name</label>
      <input class="border-gray-300 border rounded-lg" type="text" v-model="lastName" />
      {{ lastNameError }}
    </div>

    <div class="flex flex-col mb-5">
      <label>Email</label>
      <input class="border-gray-300 border rounded-lg" type="text" v-model="email" />
      <p>{{ emailError }}</p>
    </div>

    <div class="flex flex-col mb-5">
      <label>Country</label>
      <select class="border-gray-300 border rounded-lg" v-model="country">
        <option v-for="(name, key) in countries" :value="name" :key="key">{{ name }}</option>
      </select>
      <p>{{ countryError }}</p>
    </div>

    <div class="flex flex-col mb-5">
      <label>Address</label>
      <input class="border-gray-300 border rounded-lg" type="text" v-model="address" />
      <p>{{ addressError }}</p>
    </div>

    <div>
      <button class="mr-3 p-3 text-white rounded-lg bg-blue-500" @click.prevent="createUser()">
        {{ submitButtonText }}
      </button>
    </div>
  </div>
</template>

<script>
import { useField, useForm } from 'vee-validate'
import { useStore } from 'vuex'
import { computed } from 'vue'
import * as yup from 'yup'
import { GET_USER_DATA } from '@/store/modules/user/types'
import { FETCH_COUNTRIES, GET_COUNTRIES_DATA } from '@/store/modules/country/types'

export default {
  name: 'UserForm',
  props: {
    submitButtonText: {
      type: String,
      default: 'Create',
    },
    id: {
      type: Number,
      default: null,
    },
  },
  emits: ['dataSubmitted'],
  setup(props, { emit }) {
    const validationSchema = {
      firstName: yup.string().required(),
      lastName: yup.string().required(),
      email: yup.string().required().email(),
      address: yup.string().required(),
      country: yup.string().required(),
    }

    const store = useStore()

    const form = useForm({
      validationSchema,
    })

    const { value: firstName, errorMessage: firstNameError } = useField('firstName')
    const { value: lastName, errorMessage: lastNameError } = useField('lastName')
    const { value: email, errorMessage: emailError } = useField('email')
    const { value: address, errorMessage: addressError } = useField('address')
    const { value: country, errorMessage: countryError } = useField('country')

    store.dispatch(`country/${FETCH_COUNTRIES}`)

    const countries = computed(() => {
      return store.getters[`country/${GET_COUNTRIES_DATA}`]
    })

    if (props.id !== null) {
      //fill data on user edit
      const userData = store.getters[`user/${GET_USER_DATA}`](props.id)

      firstName.value = userData.firstName
      lastName.value = userData.lastName
      email.value = userData.email
      address.value = userData.address
      country.value = userData.country
    }

    const createUser = () => {
      form.validate().then((formData) => {
        if (formData.valid) {
          emit('dataSubmitted', {
            firstName: firstName.value,
            lastName: lastName.value,
            email: email.value,
            address: address.value,
            country: country.value,
          })
        }
      })
    }

    return {
      firstName,
      firstNameError,
      lastName,
      lastNameError,
      email,
      emailError,
      address,
      addressError,
      country,
      countryError,
      countries,
      createUser,
    }
  },
}
</script>
