<template>
  <div>
    <h1 class="text-xl mb-8">Create user</h1>
    <userForm @dataSubmitted="dataSubmitted" />
  </div>
</template>

<script>
import UserForm from '@/components/user/Form.vue'
import { CREATE_USER } from '@/store/modules/user/types'
import { useStore } from 'vuex'

export default {
  name: 'UserCreate',
  components: {
    UserForm,
  },
  setup() {
    const store = useStore()

    const dataSubmitted = (userData) => {
      store.dispatch(`user/${CREATE_USER}`, userData).then(() => {
        alert('user created')
      })
    }

    return {
      dataSubmitted,
    }
  },
}
</script>
