<template>
  <h1 class="text-xl mb-8">Create user</h1>
  <userForm @dataSubmitted="dataSubmitted" submitButtonText="Edit" :id="id" />
</template>

<script>
import UserForm from '@/components/user/Form.vue'
import { useRoute } from 'vue-router'
import { useStore } from 'vuex'
import { UPDATE_USER } from '@/store/modules/user/types'

export default {
  name: 'UserEdit',
  components: {
    UserForm,
  },
  setup() {
    const store = useStore()
    const route = useRoute()
    const id = parseInt(route.params.id)

    const dataSubmitted = (userData) => {
      store.dispatch(`user/${UPDATE_USER}`, { id, userData }).then(() => {
        alert('user updated')
      })
    }

    return {
      dataSubmitted,
      id,
    }
  },
}
</script>
