<template>
  <h1 class="text-xl mb-5">User list</h1>

  <div>
    <template v-if="userList.length">
      <div v-for="(user, key) in userList" :key="key" class="flex">
        <div class="mr-2 p-3">
          First name: <b>{{ user.firstName }}</b>
        </div>
        <div class="mr-2 p-3">
          Last name: <b>{{ user.lastName }}</b>
        </div>
        <div class="mr-2 p-3">
          Email: <b>{{ user.email }}</b>
        </div>
        <div class="mr-2 p-3">
          Country: <b>{{ user.country }}</b>
        </div>
        <div class="mr-2 p-3">
          Address: <b>{{ user.address }}</b>
        </div>
        <div>
          <button class="mr-3 p-3 text-white rounded-lg bg-blue-500" @click="editUser(key)">edit</button>
          <button class="p-3 rounded-lg text-white bg-red-500" @click="deleteUser(key)">delete</button>
        </div>
      </div>
    </template>
    <template v-else>
      <div>No users</div>
    </template>
  </div>
</template>

<script>
import { useStore } from 'vuex'
import { computed } from 'vue'
import { GET_USER_LIST } from '@/store/modules/user/types'
import { useRouter } from 'vue-router'
import { DELETE_USER } from '@/store/modules/user/types'

export default {
  name: 'UserList',
  setup() {
    const store = useStore()
    const router = useRouter()

    const userList = computed(() => {
      return store.getters[`user/${GET_USER_LIST}`]
    })

    const editUser = (id) => {
      router.push({ name: 'userEdit', params: { id } })
    }
    const deleteUser = (id) => {
      store.dispatch(`user/${DELETE_USER}`, id).then(() => {
        alert('user deleted')
      })
    }

    return {
      userList,
      editUser,
      deleteUser,
    }
  },
}
</script>
