<template>
  <div class="flex">
    <div class="p-5 bg-gray-200 h-screen">
      <router-link class="block" :to="{ name: 'userCreate' }">Create user</router-link>
      <router-link class="block" :to="{ name: 'userList' }">List users</router-link>
    </div>
    <div class="p-5">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>
